<!DOCTYPE html>
<html lang=ja>

<head>
    <meta charset="utf-8">
    <meta name="description" content="web-keiyaku-viewer_v1.0">
    <title>web-keiyaku-viewer_v1.0</title>
    <link rel="stylesheet" href="/assets/Site.css">
    <script type="text/javascript" src="/assets/script.js"></script>
</head>

<BODY>
    <H1> 提案DB詳細 </H1>
    <FORM NAME='QFORM' METHOD='GET' ACTION='/teianEnquiry'>
        <TABLE  CLASS='QueryForm'>
            <TR>
                <TD>提案番号：</TD>
                <TD>{{.formAnkenNumber}}</TD>
                <TD>冗長モード: </TD>
                <TD>{{.formVerboseMode}}</TD>
           </TR>
        </TABLE>
        <INPUT TYPE='SUBMIT' VALUE='GET' CLASS='getbutton'>
    </FORM>
    <HR SIZE=1 NOSHADE>
    <A HREF='/teianList' CLASS='button_face'>提案DB一覧</A>
    <FORM NAME='DFORM' METHOD='GET' ACTION='DUMMY'>
        <DIV STYLE='display:flex;flex-direction:row;justify-content: space-between;width:400px'>
        <A HREF='#提案' style='color:gray;text-decoration:none'>提案↓</A>
         <A HREF='#提案種目' style='color:gray;text-decoration:none'>提案種目↓</A>
         <A HREF='#提案明細' style='color:gray;text-decoration:none'>提案明細↓</A>
         <A HREF='#提案明細担保条件特約' style='color:gray;text-decoration:none'>提案明細担保条件特約↓</A>
         </DIV>

        {{$callback := .htmlTableCallBack}}
        {{range $idx,$item := .SQLs}}
        <H3 id='{{$item.LogicalTableName}}'>・ {{$item.LogicalTableName}}</H3>
            {{if eq $item.Sql "NO_PHYSICAL_TABLE"}}
                <DIV class='message_info'>物理テーブルはなし</DIV>
            {{else if eq $item.Sql "NO_ANKEN_NUMBER"}}
                <DIV class='message_info'>案件番号なし</DIV>
            {{else}}
                {{buildHTMLTablefromDB $.conn $item.Sql $callback}}
            {{end}}
        {{end}}
    </FORM>
</BODY>

</HTML>
