<!DOCTYPE html>
<html lang=ja>

<head>
    <meta charset="utf-8">
    <meta name="description" content="web-keiyaku-viewer_v1.0">
    <title>web-keiyaku-viewer_v1.0</title>
    <link rel="stylesheet" href="/assets/Site.css">
    <script type="text/javascript" src="/assets/script.js"></script>
</head>

<BODY>
    <H1> 提案DB一覧 (明細単位)</H1>
    <FORM NAME='QFORM' METHOD='GET' ACTION='/teianList'>
        <TABLE  CLASS='QueryForm'>
            <TR>
                <TD>案件番号(*)：</TD><TD>{{.formAnkenNumber}}</TD>
                <TD>契約者名(*):</TD>
                <TD>{{.formPolicyHolderName}}</TD>
                <TD>MAX:</TD>
                <TD>{{.formMaxFetchRows}}</TD>
            </TR>
            <TR>
                <TD>種目：</TD>
                <TD>{{.formPolicyType}}</TD>
                <TD>DB：</TD>
                <TD>{{.formEnvironment}} <font color='lightgrey'>(config.json内のDBConnection.ENVより)</font></TD>
                <TD></TD>
            </TR>
        </TABLE>
        <INPUT TYPE='SUBMIT' VALUE='GET' CLASS='getbutton'>
    </FORM>
    <PRE>{{.SQL}}</PRE>
    <HR SIZE=1 NOSHADE>
    <A HREF='/teianEnquiry' CLASS='button_face'>提案DB詳細</A>
    <A HREF='/keiyakuList' CLASS='button_face'>契約DB一覧</A>
    <A HREF='/codeMasterEnquiry' CLASS='button_face'>コードマスタ</A>
    <A HREF='/dataDictionaryEnquiry' CLASS='button_face'>データディクショナリ（データ項目一覧）</A>
    <A HREF='/teianList' CLASS='button_face'>提案DB一覧</A>
    <A HREF='/keiyakuHistory' CLASS='button_face button_face_disabled'>契約DB履歴一覧[開発中]</A>
    <A HREF='/shokenSyoruiSakuseiEnquiry' CLASS='button_face button_face_disabled'>証券書類作成DB[開発中]</A>

    <FORM NAME='DFORM' METHOD='GET' ACTION='DUMMY'>
        <h3>・提案エンティティ</h3>
        {{buildHTMLTablefromDB .conn .SQL .htmlTableCallBack}}
    </FORM>
</BODY>

</HTML>
